body {
    font-family: Helvetica, sans-serif;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

.pageHeader {
    text-align: center;
}


.flex-container {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pageContent {
    display: flex;
    size: 100%;
}

.tabBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.tabContent {
    background-color: black;
}

.tab {
    display: flex;
    align-items: end;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}